/node_modules
public/bower_components/
public/vendors/
/vendor
/.idea
Homestead.json
Homestead.yaml

/public/wordpress/*
!/public/wordpress/wp-content/

#submodules
/public/another/mautic/vendor
/public/another/shopware/vendor