/node_modules
public/bower_components/
public/vendors/
/vendor
/.idea
Homestead.json
Homestead.yaml
.env

/public/wordpress/*
!/public/wordpress/wp-content/
/public/wordpress/wp-content/uploads

#submodules
/public/another/mautic/vendor
/public/another/shopware/vendor