.thumbnail img {
    max-height: 100px !important;
}

.thumbnail .description {
    color: #7f7f7f;
}

.price {
    font-weight: bold;
    font-size: 16px;
}

.bold{
    font-weight: bold !important;
}